<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Health Tracker</title>
    <link rel="stylesheet" href="/style.css">
 </head>
 <body>

 <nav>
    <a href="/">Home</a> |
    <a href="/activities/add">Add Activity</a> |
    <a href="/activities/list">View Activities</a> |
    <a href="/activities/search">Search</a>
 </nav>

 <hr>
