<hr>
<<<<<<< HEAD

<footer>
    <p>&copy; 2024 Health Tracker App — Created by Ahmad Sediqi</p>
</footer>

</body>
</html>
=======
<footer>
  <p>Fitness Tracker © 2025</p>
</footer>
>>>>>>> 877ebefa4e4dc468c7cdf620799b91b58d9b1556
