<link rel="stylesheet" href="/style.css">

<header>
  <h1>Fitness Tracker</h1>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/activities/add">Add Activity</a> |
    <a href="/activities/list">All Activities</a> |
    <a href="/activities/search">Search</a>
  </nav>
  <hr>
</header>
