<%- include('header') %>

<h2>Search Activities</h2>

<form action="/activities/search" method="POST">
    <label>Type:</label>
    <input type="text" name="type"><br><br>

    <label>Keyword (in notes):</label>
    <input type="text" name="keyword"><br><br>

    <button type="submit">Search</button>
</form>

<%- include('footer') %>

